<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic tac toe</title>
    <link rel="stylesheet" href="stylesheets/tic_tac_toe/tic_tac_toe.css">
</head>

<body>

    <h1>Jani Jasmin - 2&5 Feb 2024 - 24DEV027</h1>
    <h2>tic tac toe</h2>

    <div id="turn"></div>

    <table id="mytable">
        <tr>
            <td id="one" onclick="clicked(this)"></td>
            <td id="two" onclick="clicked(this)"></td>
            <td id="three" onclick="clicked(this)"></td>
        </tr>

        <tr>
            <td id="four" onclick="clicked(this)"></td>
            <td id="five" onclick="clicked(this)"></td>
            <td id="six" onclick="clicked(this)"></td>
        </tr>

        <tr>
            <td id="seven" onclick="clicked(this)"></td>
            <td id="eight" onclick="clicked(this)"></td>
            <td id="nine" onclick="clicked(this)"></td>
        </tr>
    </table>

    <button onclick="location.reload()">reset</button>

</body>

<script src="javascripts/tic_tac_toe/tic_tac_toe_script.js"></script>

</html>