<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheets/task-6/home_page.css">
</head>

<body>

    <form action="/task_6">

        <div id="div">

            <label for="input">Enter Student id : </label>
            <input type="text" name="input" id="input" value="<%= s_id %>" tabindex="1">

            <input id="go" type="submit" value="Go">
            <!-- <input type="button" value="show more ways" onclick="window.location.href='http://localhost:9027/task_6/show_more'"> -->

            <a style="cursor: pointer; text-decoration: underline;" onclick="window.location.href='http://localhost:9027/task_6/show_more'">show more ways</a>
        </div>

    </form>

    <% if(s_id == 0) { } else { %>

        <table>

            <tr>

                <% for(let i=0; i < Object.keys(data[0]).length; i++) { %>
                    <th>
                        <%= Object.keys(data[0])[i] %>
                    </th>
                    <% }; %>
            </tr>

            <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <% for(let j=0; j < Object.keys(data[i]).length; j++) { %>
                        <td>
                            <%= Object.values(data[i])[j] %>
                        </td>
                        <% }; %>
                </tr>
                <% } %>

        </table>

        <% }; %>

</body>

</html>