<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show more</title>
    <link rel="stylesheet" href="/stylesheets/task-10/show_more_page.css">
</head>

<body>



    <table>
        <tbody id="tbody">

        </tbody>
    </table>


</body>


<script src="/javascripts/task-10/show_more_page_script.js"></script>

</html>