<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/task-10/api_fetch.css">
</head>

<body>

    <h1> Jani Jasmin - 24DEV027 </h1>

    <div id="paging">
        <button id="btn2" name="previous" onclick="previous()"> < </button>
        <span id="span" name="span"> </span>
        <button id="btn4" name="next" onclick="next()"> > </button>
        <!-- <input type="text" name="input" id="input"> -->
    </div>

    <table>
        <tbody id="tbody">

        </tbody>
    </table>



</body>

<script src="/javascripts/task-10/fetch_api_script.js"></script>

</html>