<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Algo.</title>
</head>

<body>
    <h1>Jani Jasmin - 5 Feb 2024 - 24DEV027</h1>
    

    <div class="section">
        <input type="text" name="input" id="input" placeholder="Enter comma seperated value">
        <input type="button" value="go" onclick="sort(document.getElementById('input').value)">
    </div>

    <div id="answer">

    </div>


</body>

<script src="javascripts/mergesort/mergesort_script.js"></script>

</html>