<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic table</title>
    <link rel="stylesheet" href="stylesheets/task-1/dynamic_table.css">
</head>

<body>

    <h1>Jani Jasmin - 1 Feb 2024 - 24DEV027</h1>
    <div id=outerdiv>
        <div>

            <table id="mytable" cellspacing="0" cellpadding="70">
                <tr>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                </tr>


            </table>
            <br>
            <button class="btn" onclick="addrow()">+</button>
            <button class="btn" onclick="deleterow()">-</button>
        </div>

        <button id='jasmin' class="btn" onclick="addcolumn()">+</button>&nbsp;
        <button id ='jash' class="btn" onclick="deletecolumn()">-</button>

    </div>

</body>

<script src="javascripts/task-1/dynamic_table_script.js"></script>

</html>