<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="stylesheets/task-3/kuku_kube_game.css">
</head>

<body>

    <h1>Jani Jasmin - 2 Feb 2024 - 24DEV027</h1>
    <span id="myspan">
        Score : 0
    </span>
    <div id="Timer"></div>

    <img src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-Image.png" alt="image user logo">
    <table id="mytable">
        <tr id="tr1">
            <td id="target" onclick="clicked()"></td>
            <td></td>
        </tr>

        <tr id="tr2">
            <td></td>
            <td></td>
        </tr>
    </table>


</body>

<script src="javascripts/task-3/kuku_kube_game_script.js"></script>

</html>