<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/task-0/dashboard.css">
</head>

<body>

    <h1>Welcome </h1>
    <h3>Select from any of this task :  </h3>

    <div class="div">
        <a href="http://localhost:9027/task_1" target="_blank">Dynamic Table</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_2" target="_blank">javascript Events</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_3" target="_blank">Kuku kube game</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_4" target="_blank">mergesort</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_5" target="_blank">tic tac toe</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_6" target="_blank">Search by id in CRUD</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_7" target="_blank">Delimiter search</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_8" target="_blank">Combo box generater</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_9" target="_blank">Insert & Update & validation in Job app</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_10" target="_blank">API fetch from jsonplaceholder</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_11/detail" target="_blank">select orderby in CRUD</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_12/attendance" target="_blank">attendance and result</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_13" target="_blank">CRUD of select query</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_14" target="_blank">City state dropdown using Ajax</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_15" target="_blank">Step form in AJAX</a>
    </div>

    <div class="div">
        <a href="http://localhost:9027/task_16" target="_blank">Timezone Converter</a>
    </div>

</body>

</html>