<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/stylesheets/task-0/login.css">
</head>

<body>

    <h1>Login</h1>

    <div id="container">

        <div class="section">

            <form id="form">

                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="xyz@pqr.com" tabindex="1">
                    <span class="red" id="email_validation"></span>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" tabindex="2">
                    <span id="forgot_password" name="forgot_password" onclick="forgot_password()">forgot password</span>
                </div>

                <div>
                    <span class="btn" value="login" id="login" onclick="login()" tabindex="3">Login </span>
                    <p>  Not an User? <a href="http://localhost:9027/">Register</a></p>
                </div>


            </form>
        </div>
    </div>

</body>


<script src="/javascripts/task-0/login_script.js"></script>

</html>