<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Password</title>
    <link rel="stylesheet" href="/stylesheets/task-0/password.css">
</head>

<body>

    <h1>Create Password</h1>

    <div id="container">

        <div class="section">


            <form id=form>

                <input type="hidden" name="activation" id="activation">

                <div>
                    <label for="password">Create Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div>
                    <label for="verify_password">Verify Password</label>
                    <input type="password" name="verify_password" id="verify_password">
                    <span id="error_password"></span>
                </div>

                <div>
                    <span class="btn" value="submit" id="submit" onclick="verify_pass()">submit </span>
                    <span class="btn" value="login" id="login" style="display: none; text-decoration: none;"> </span>
                </div>

            </form>

        </div>

    </div>

</body>

<script src="/javascripts/task-0/password_script.js"></script>

</html>