body {
    background-color: #002147;
}

#error_password {
    color: #bd1e1e;
}

#container {
    height: 240px;
    width: 400px;
    margin: auto;
    background-color: #c0e6fc;
    /* border-radius: 10px;      */
}

.section {
    margin-top: 60px;
}

form>div {
    padding-top: 43px;
    text-align: center;
    font-size: 17px;
}

.btn {
    background-color: #002147;
    color: white;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
}